__pycache__/
*.jpg
*.mp4
*.egg-info
.DS_Store
*.log
.coverage
.python-version

*.mp4
*.pb

# Model files
*.onnx
*.skl
*.pt
*.pth
*.safetensors
!models/*.onnx
!models/*.skl
!models/*.pt
!models/*.safetensors
!models/*.pth

# Deployment directories
deploy/linefinder/*
!deploy/linefinder/1/model.py
!deploy/linefinder/config.yaml
!deploy/linefinder/Dockerfile
!deploy/linefinder/requirements.txt