curl
vim
git
python3
python3-pip
selinux-basics
selinux-policy-default
auditd
policycoreutils
selinux-basics
selinux-utils
nvidia-utils-*
nvidia-driver-*
nvidia-toolkit-*
nvidia-cuda-*
kubeadm
kubelet
kubectl
docker-buildx
docker-ce*
docker-ce-rootless*
docker-compose*
docker-scan*
container-selinux*
containerd.io
calico-cni