Flask==2.3.3
Flask-Cors==4.0.0
Flask-SocketIO==5.5.1
opencv-python==4.11.0.86
numpy==2.1.1
clarifai==11.4.10
clarifai-grpc==11.3.4
clarifai-protocol==0.0.23
python-dotenv==1.1.0
scipy==1.15.2
Pillow==10.4.0

